<!DOCTYPE html>
<html>
  <head>
    <title>Medium - Where good ideas find you.</title>
    <link rel="stylesheet" href="medium.page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <img class="logo-image" src="assets/medium-logo.png" alt="" />
      <div class="page-sections">
        <p>Our story</p>
        <p>Membership</p>
        <p>Write</p>
        <p>Sign In</p>
        <button class="sign-button">Get started</button>
      </div>
    </header>

    <main>

      <div>
        <div class="intro-section">
          <h1>Stay curious.</h1>
          <h2>
            Discover stories, thinking, and expertise from writers on any topic.
          </h2>
          <button class="start-button">Start reading</button>
        </div>
      </div>

   



      <div class="trending-section">
        <div class="trending-title">
          <svg
            width="28"
            height="29"
            viewBox="0 0 28 29"
            fill="none"
            class="ih y"
          >
            <path fill="#fff" d="M0 .8h28v28H0z"></path>
            <g opacity="0.8" clip-path="url(#trending_svg__clip0)">
              <path fill="#fff" d="M4 4.8h20v20H4z"></path>
              <circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
              <path
                d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3"
                stroke="#000"
                stroke-linecap="round"
              ></path>
            </g>
            <defs>
              <clipPath id="trending_svg__clip0">
                <path
                  fill="#fff"
                  transform="translate(4 4.8)"
                  d="M0 0h20v20H0z"
                ></path>
              </clipPath>
            </defs>
          </svg>
          <h3>Trending on Medium</h3>
        </div>

        <div class="trending-articles">
          <div class="trending-article">
            <div class="trending-article-count">01</div>
            <div class="trending-article-description">
              <div class="trending-article-author"> <img src="	https://miro.medium.com/fit/c/25/25/0*7ZLgZWh2nTXrR1HM.jpeg" alt="" style="border-radius: 50%;"> Praveen Seshardi</div>
              <h3>The maze is in the house</h3>
              <p>Feb 14 &#183; 15 min read</p>
            </div>
          </div>
          <div class="trending-article">
            <div class="trending-article-count">02</div>
            <div class="trending-article-description">
              <div class="trending-article-author"><img src="	https://miro.medium.com/fit/c/25/25/1*0oIJdWxqjL9Y6P0B0J6Syw.jpeg" alt="" style="border-radius: 50%;"> Tom Cooper</div>
              <h3>Ukraine War, 26 February 2023: Bakhmut</h3>
              <p>Feb 26 &#183; 5 min read</p>
            </div>
          </div>
          <div class="trending-article">
            <div class="trending-article-count">03</div>
            <div class="trending-article-description">
              <div class="trending-article-author"><img src="https://miro.medium.com/fit/c/25/25/1*pZIPldUG0GZXpLsfT7Xb3Q.jpeg" alt="" style="border-radius: 50%;"> Ifedolapo Shiloh Olotu</div>
              <h3>
                Disqualified from a National Web Design Competition…for using
                GitHub
              </h3>
              <p>Feb 23 &#183; 4 min read</p>
            </div>
          </div>
          <div class="trending-article">
            <div class="trending-article-count">04</div>
            <div class="trending-article-description">
              <div class="trending-article-author"><img src="	https://miro.medium.com/fit/c/25/25/2*vXhEWaz8APHM6GaVpcTFRQ.jpeg" alt="" style="border-radius: 50%;"> Brandon Van Der Heide</div>
              <h3>There is a crack in everything</h3>
              <p>Feb 14 &#183; 5 min read</p>
            </div>
          </div>
          <div class="trending-article">
            <div class="trending-article-count">05</div>
            <div class="trending-article-description">
              <div class="trending-article-author"><img src="https://miro.medium.com/fit/c/25/25/1*3STednUKL3lkYQxtw1Xavg.jpeg" alt="" style="border-radius: 50%;"> Darius Foroux</div>
              <h3>The Simple Mental Model That Changed My Financial Life</h3>
              <p>Feb 22 &#183; 5 min read</p>
            </div>
          </div>
          <div class="trending-article">
            <div class="trending-article-count">06</div>
            <div class="trending-article-description">
              <div class="trending-article-author">
                <img src="	https://miro.medium.com/fit/c/25/25/1*CJe3891yB1A1mzMdqemkdg.jpeg" alt="" style="border-radius: 20%;"> 
                Piero Paialunga in Towards Data Science
              </div>
              <h3>
                Using OpenAI and Python to Enhance Your Resume: A Step-by-Step
                Guide
              </h3>
              <p>Feb 14 &#183; 10 min read</p>
            </div>
          </div>
        </div>
      </div>





      <div class="remaining-section">
        <div class="discover-section">
          <p>Discover more of what matters to you</p>
          <div class="subject-section">
            <p>Programming</p>
            <p>Data Science</p>
            <p>Technology</p>
            <p>Self Improvement</p>
            <p>Writing</p>
            <p>Relationships</p>
            <p>Machine Learning</p>
            <p>Productivity</p>
            <p>Politics</p>
          </div>
        </div>
        <div class="articles-section">
          <div class="article-section">
            <div class="article-description">
              <div class="article-author">
                <img style="width: 25px; border-radius: 40%; object-fit: contain;" src="	https://miro.medium.com/fit/c/25/25/1*_Ys-CO82mn3dcpq0buVTHQ.png" alt="">
                <p><strong>David Todd McCarthy</strong> in <Strong>Ellemeno</Strong></p>
              </div>
              <h2>Beginning Again At Fifty-Five</h2>
              <h3>
                In which I attempt to calculate the remaining years of my life
                and plan for the final act
              </h3>
              <p>Feb 14 &#183; 10 min read &#183; <button>Writing</button> <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg></p>
            </div>
            <img src="https://miro.medium.com/fit/c/250/168/1*F6ZwcDCqfcIakTpnEwuSmw.jpeg" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>What We’re Reading: Are you an upstander or a bystander?</h2>
              <h3>
                A few Medium stories you may have missed this week
              </h3>
              <p>Feb 24 &#183; 4 min read &#183; <button>What Were Reading</button></p>
            </div>
            <img src="https://miro.medium.com/fit/c/250/168/1*rX4VEmd34hhZ7TK5Pah7_w.png" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>No, ASAP Rocky And Jonathan Majors Are Not Being Emasculated</h2>
              <h3>
                “Emasculate” is one of those words I wish more folks simply hadn’t learned.
              </h3>
              <p>Feb 21 &#183; 3 min read &#183; <button>Toxic Masculinity</button> <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg></p>
            </div>
            <img src="https://miro.medium.com/fit/c/250/168/1*tD2OD40pNWLAoMqY5VXXOg.jpeg" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>More icebreakers you can steal for better meetings</h2>
              <h3>
                What helps start a hard meeting on a positive note? How do you encourage team members to think bigger?
              </h3>
              <p>Feb 7 &#183; 4 min read &#183; <button>Icebreaker</button></p>
            </div>
            <img src="https://miro.medium.com/fit/c/250/168/1*g8FtllTKZiUJ38Cp23_Teg.png" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>Policy Lessons from the Population Pyramid</h2>
              <h3>
                Unreal Constructs Produce Real Harm
              </h3>
              <p>Feb 21 &#183; 12 min read &#183; <button>Politics</button></p>
            </div>
            <img src="	https://miro.medium.com/freeze/fit/c/250/168/0*sr5Fb4h1R59NtSUi.gif" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>When 100 Strangers Bought Me a Coffee</h2>
              <h3>
                Proof that both adventure and kindness can be found on the street
              </h3>
              <p>Feb 21 &#183; 5 min read &#183; <button>Travel</button></p>
            </div>
            <img src="	https://miro.medium.com/fit/c/250/168/1*Q61lOFBFU65hoNjUCL81wA.jpeg" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>Why Black People Celebrate Mardi Gras The Way We Do</h2>
              <h3>
                The hidden history of Mardi Gras, from a Black perspective
              </h3>
              <p>Feb 19 &#183; 6 min read &#183; <button>Racism</button></p>
            </div>
            <img src="https://miro.medium.com/fit/c/250/168/1*1N6yt-MB6pKV9zHzhrvn-A.jpeg" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
          <div class="article-section">
            <div class="article-description">
              <div class="article-author"></div>
              <h2>Teach your Kids to Program, but Don’t Teach Them to Be Programmers</h2>
              <h3>
                Software engineering is a great job to have — today. We can see the future by looking to the past and recognizing that a good option
              </h3>
              <p>Feb 22 &#183; 6 min read &#183; <button>Careers</button></p>
            </div>
            <img src="	https://miro.medium.com/fit/c/250/168/0*DImrABBxiKQjZn5g.jpg" alt="" style="object-fit: contain; cursor: pointer;">
          </div>
        </div>
      </div>
    </main>

    <footer>
      <img src="https://miro.medium.com/max/8976/1*Ra88BZ-CSTovFS2ZSURBgg.png" alt="">
      <div class="terms">  
        <p>About</p>
        <p>Help</p>
        <p>Terms</p>
        <p>Privacy</p>
      </div>

      <div class="applinks">
        <p>Get the Medium app</p>
        <div>
          <img src="	https://miro.medium.com/max/169/1*Crl55Tm6yDNMoucPo1tvDg.png" alt="">
          <img src="https://miro.medium.com/max/169/1*W_RAPQ62h0em559zluJLdQ.png" alt="">
        </div>
        
      </div>


     
    </footer>
  </body>
</html>
